{{>header}}

<div class="main-content">
    {{>topnav}}
    <p>This is created by {{name}}, using MapBox Api and OpenWeatherMap Api</p>
    <img class="profile" src="/img/me.png" alt="ME">
</div>

{{>footer}}
